<div class="card">
  <h2 class="country-name">{{name}}</h2>
  <div class="wrapper">
    <div class="country-description">
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>
    <p class="card-text">
      Languages:
    <ul class="language-list">
      {{#each languages}}   
        <li class="language-item">{{name}}</li>
      {{/each}}
    </ul>
    </p>
  </div>
  <div class="country-flag">
    <img src="{{flag}}" alt="{{name}}">
  </div>
  </div>
</div>